h1.ft-table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px; 
}

table th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}


table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}


.phones-bg {
    background-color: #3372b2;
}


.bg-blue {
    background-color: #63a2e197;
}

.bg-white {
    background-color: #FFFFFF; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}


.phone {
    width: 100%; 
    height: auto; 
    max-width: 200px; 
}

.phone-v2 {
    width: 100%; 
    height: auto;
    max-width: 100px; 
}


table th, table td {
    border: 3px solid rgb(0, 28, 87);
    padding: 15px;
}
